* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(180deg, #B987CA 0%, #ED9FB2 100%);
}

.sessao1 {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.sessao1 h1{
    font-size: 96px;
    color: #3B2F2F;
}
.sessao1 {
    display: flex;
    flex-direction: row;
}